@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  transition: 450ms ease;
  transition-property: color, background-color, opacity, filter;
  cursor: pointer;
}
button:hover {
}
button:active {
  filter: brightness(120%);
}

.flip-list-move {
  transition: transform 300ms ease-out;
}
.list-complete-item {
  transition: all 0.8s ease;
}

.list-complete-enter-from,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}




* {
  letter-spacing: -3% !important;
}

body {
  @apply font-sans bg-black text-white text-base;
  /* scrollbar-color: dark; */
}




/* ::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(115, 130, 161, 0.6);
},
::-webkit-scrollbar-track {
  border-radius: 8px;
  @apply bg-gray-input;
} */


