// text utilities
.text--small {
    font-size: $fs_sm;
    line-height: 17px;
}
.text--left {
    text-align: left;
}

.text--standard {
    font-size: $fs;
}
.text--medium {
    font-size: $fs_md;
}
.text--italic {
    font-style: italic;
}
.text--regular {
    font-style: normal;
}
.text--normal {
    font-weight: normal;
}
.text--bold {
    font-weight: bold;
}


// display
.d-flex, .df {
    display: flex;
}

.fdr {
    flex-direction: row;
}
.w50 {
    width: 50%
}
.w100 {
    width: 100%
}
.j-between, .jcsb {
    justify-content: space-between;
}
