name: Deploy UI to Vercel
# run run on pull request into develop (feature/fixes)
on:
  push:
    branches:
      - "**"
      - "!develop"
      - "!testnet"
      - "!master"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - uses: actions/checkout@v2
      # These env variables may only be used in next step
      - name: Set BRANCH_NAME, APP_VERSION
        shell: bash
        run: |
          echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "VUE_APP_VERSION=$(cat ./ui/app/package.json | jq '.version' | tr -d '"')" >> $GITHUB_ENV

        id: extract_env

      - name: Set ENV_NAME, SUBDOMAIN
        shell: bash
        run: |
          if [[ $BRANCH_NAME == 'master' ]]
          then
            echo "ENV_NAME=mainnet" >> $GITHUB_ENV
            echo "SUBDOMAIN=dex" >> $GITHUB_ENV
          elif [[ $BRANCH_NAME == 'testnet' ]]
          then
            echo "ENV_NAME=testnet" >> $GITHUB_ENV
            echo "SUBDOMAIN=testnet" >> $GITHUB_ENV
          else
            echo "ENV_NAME=devnet" >> $GITHUB_ENV
            echo "SUBDOMAIN=devnet" >> $GITHUB_ENV
            echo "BRANCH_NAME=develop" >> $GITHUB_ENV
          fi

      - name: Set CONTRACT_DEPLOYMENT, SHA
        shell: bash
        run: |
          echo "VUE_APP_SHA=$GITHUB_SHA" >> $GITHUB_ENV
          echo "VUE_APP_CONTRACT_DEPLOYMENT=$(cat ./ui/core/src/config/networks/sifchain/config.${ENV_NAME}.json | jq '.sifChainId' | tr -d '"')" >> $GITHUB_ENV

      - name: Fetch contract, Write to .env
        shell: bash
        run: |     
          wget -P ./smart-contracts/build/contracts https://raw.githubusercontent.com/Sifchain/sifnode/${BRANCH_NAME}/smart-contracts/deployments/${VUE_APP_CONTRACT_DEPLOYMENT}/BridgeBank.json
          echo VUE_APP_VERSION=$VUE_APP_VERSION >> ./ui/app/.env
          echo VUE_APP_SHA=$VUE_APP_SHA >> ./ui/app/.env

      - name: Build App
        run: cd ./ui && yarn install --frozen-lockfile --silent

      - uses: amondnet/vercel-action@v20
        with:
          scope: ${{ secrets.TEAM_ID }}
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
          working-directory: .
          alias-domains: |
            {{BRANCH}}.sifchain.vercel.app
